# Variáveis

In [18]:
idade = 45
print(idade)
idade = idade +1
print(idade)

45
46

### Regras para o nome de uma VARIÁVEL
- Deve-se iniciar com letra ou underline (_)
- Não pode conter caractere especial 
- Pode-se usar letras, números ou (_), atendendo sempre ao primeiro item
- O Python faz diferença entre maiuscula e minuscula
- Não pode ser uma paralavra reservada do python

### Laboratório 2.4.7

In [19]:
John = 3
Mary = 5
Adam = 6
print (John, Mary, Adam, sep=",")
total_apples = John + Mary + Adam
print("Total de maçãs:", total_apples)

3,5,6
Total de maçãs: 14

### Operador de atalhos
operador = operador operação valor => operador operaçao= valor resumido
idade = idade + 5 => indade += 5

In [23]:
variavel = 2 
#variavel = variavel + 5
variavel += 5
print(variavel)
variavel = variavel * 5 + 2
#variavel *= 5 + 2
print(variavel)

7
37

### Laboratório 2.4.9

In [24]:
kilometers = 12.25
miles = 7.38
one_miles_in_km = 1.61
miles_to_kilometers = miles * one_miles_in_km
kilometers_to_miles = kilometers / one_miles_in_km

print(miles, "milhas é", round(miles_to_kilometers, 2), "quilômetros")
print(kilometers, "quilômetros é", round(kilometers_to_miles, 2), "milhas")

7.38 milhas é 11.88 quilômetros
12.25 quilômetros é 7.61 milhas

# LAboratório 2.4.10
- x = 0 => y = -1.0
- x = 1 => y = 3.0
- x = -1 => y = -9.0

In [33]:
x = -1
x = float(x)
y= 3*x**3-2*x**2+3*x-1 
print("y=", y)

y= -9.0